<%= form_for @doctor_specification do |f| %>

    <% if @doctor_specification.errors.any? %>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@doctor_specification.errors.count, "error") %> prohibited
          this doctor_specification from being saved:
        </h2>
        <ul>
          <% @doctor_specification.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>
      <%= f.label :specialization %><br>
      <%= f.text_field :specialization %>
    </p>
  
    <p>
      <%= f.label :institute_name %><br>
      <%= f.text_area :institute_name %>
    </p>

    <div>
    <%= f.label :practicing_from %><br />
    <%= f.date_field :practicing_from, autofocus: true %>
    </div>

    <p>
      <%= f.label :clinic_address %><br>
      <%= f.text_area :clinic_address %>
    </p>
  
    <p>
      <%= f.submit %>
    </p>
  <% end %>