
<%= form_for :doctor_specification do |f| %>
    <p>
      <%= f.label :specialization %><br>
      <%= f.text_field :specialization %>
    </p>
   
    <p>
      <%= f.label :institute_name %><br>
      <%= f.text_area :institute_name %>
    </p>

    <p>
      <%= f.label :practicing_from %><br>
      <%= f.text_area :practicing_from %>
    </p>

    <p>
      <%= f.label :clinic_address %><br>
      <%= f.text_area :clinic_address %>
    </p>
   
    <p>
      <%= f.submit %>
    </p>
  <% end %>