<h1 class="well">My Upcoming Appointments</h1>

<%= link_to 'New appointment ', new_appointment_path   %>
<% if @appointments.blank? %>
  <p>No appointments found.</p>
<% else %>

<tr>
  <th>Date</th>
  <th>Status</th>
  

  <th colspan="2"> </th>
</tr>

<% @appointments.each do |appointment| %>
  <tr>
      <td><%= article.date %></td>
      <td><%= article.status %></td>
      
  </tr>

  
  <tr>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Destroy', article_path(article),
              method: :delete,
      data: { confirm: 'Are you sure?' } %></td>
   </tr>
<% end %>
<% end %>

</div>
 

