<%= form_for @appointment do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

    <ul>
    <% @appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
    </div>
  <% end %>

  <div >
    <%= f.label :time_slot %>
    <%= f.collection_select :time_slot_id, @time_slots, :id, :slot %>
  </div>

  <div >
    <%= f.label :doctor %>
    <%= f.collection_select :doctor_id, @doctors, :id, :first_name %>
  </div>

  <div >
    <%= f.label :date %>
    <%= f.date_field :date %>
  </div>

  <%= f.fields_for :note do |note_form| %>
    <div >
      <%= note_form.label :description %>
      <%= note_form.text_field :description %>
    </div>
  <% end %>
  

  <div >
    <%= f.submit %>
  </div>
<% end %>
<%= link_to 'Back', appointments_path %>
